<div class="container-fluid">
  <div class="row"><!-- row A -->
    <app-sidebar></app-sidebar>
    <div id="sidebarOld">
      <form id="latLongForm" class="form-inline" #form="ngForm">
        <div class="form-group">
          <input type="text" class="form-control" name="latitude"
            [(ngModel)]="latitude" placeholder="Enter latitude" required>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" name="longitude"
            [(ngModel)]="longitude" placeholder="Enter longitude" required>
        </div>
        <div class="form-group">
        <button type="button" (click)="setCenter()" class="btn btn-primary"
          [disabled]="form.invalid"> Go</button>
        </div>
      </form>
      <label>Select Marker: </label>
      <select [(ngModel)]="selectedMarkerType" name="category">
        <option *ngFor="let marker of markerTypes" [value]="marker.value">{{ marker.text }}</option>
      </select>
      <button type="button" (click)="showCustomMarker()" class="btn btn-primary"
        [disabled]="form.invalid"> Custom Marker</button>
      <button (click)="setMapType('terrain')" class="btn btn-primary">Terrain</button>
      <button (click)="setMapType('satellite')" class="btn btn-danger">Satellite</button>
      <button (click)="setMapType('roadmap')" class="btn btn-warning">Road Map</button>
      <button type="button" (click)="toggleMap()" class="btn btn-primary">Toggle Map</button>
    </div><!-- end col 1 -->
    <div class="col mapCol">
      <div #gmap id="mapDiv" style="width:100%;height:100vh" ></div>
    </div>
  </div><!-- end row A -->
</div>
