button, input{
    margin-left: 10px
}
.col {
  padding: 0px;
}
#sidebarOld {
  width: 248px;
  display: grid;
  display: none;
  grid-template-rows: 135px 45px 45px 45px 45px 45px 45px 45px;
}
#latLongForm {
  display: grid;
  grid-template-rows: 45px 45px 45px;
}
app-sidebar {
  /* display: none; */
}
