html {
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: inherit;
}
img {
  max-width: 100%;
}
#mapWrapper {
  margin-left: 480px;
  height: 100vh;
  overflow: hidden;
}
#mapDiv {
  display: inline-block;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
main-area {
  width: 480px;
}

/* Styles for balram's demo page with buttons */

#inputDemoWrapper {
}
#inputDemo {
  width: 480px;
  float: left;
  display: grid;
  grid-template-rows: 135px 45px 45px 45px 45px 45px 45px 45px;
  display: none;
}
#latLongForm {
  display: grid;
  grid-template-rows: 45px 45px 45px;
}
